*{
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
.App{
  display:flex;
}
.sidebar{
  flex:1.5;
  background: black;
  height:100vh;
  color:white;
  padding-top:3rem;
  padding-left:1rem;
}
.mainPanel{
  flex:10.5;
  height:100vh;
}